.pop_up_authorization {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  left: 0;
  top: 0;

  .pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;

    .pop_up_body {
      margin: auto;
      width: 500px;
      background-color: #fff;
      border-radius: 18px;
      text-align: center;
      padding: 30px 15px 110px 15px;
      position: relative;

      .login-text {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 28px;
        color: #22262d;
        margin-bottom: 48px;
      }

      .fild {
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #89989f;
        margin: 25px auto 0px auto;
        width: 330px;
        padding: 17px 20px;
        background-color: #e5e5e5;
        border-radius: 18px;
        border: none;

        &:focus {
          outline: none;
        }
      }

      .submit {
        cursor: pointer;
        display: block;
        width: 330px;
        margin: 60px auto 0px auto;
        padding: 20px 0px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        border: none;
        color: #fff;
        border-radius: 10px;
        background-color: rgb(8, 158, 8);
      }

      .pop_up_close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 21px;
        cursor: pointer;
      }
      .password__input {
        display: flex;
        justify-content: end;
        align-items: center;
      }
      .pass-btn {
        position: absolute;
        margin-right: 90px;
        margin-top: 26px;
        cursor: pointer;

        .show-btn {
          width: 25px;
          height: 25px;
        }

        &::after {
          position: absolute;
          content: "";
          top: 11px;
          right: -2px;
          width: 29.5px;
          height: 3px;
          background: #89989f;
          transform: rotate(45deg);
          transition: 0.3s all ease;
          opacity: 1;
        }
      }

      .active {
        &::after {
          opacity: 0;
        }
      }
    }
  }
}
