@import "./header";
@import "./pop-up-login";
@import "./cards";
@import "./filter";

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 100%;
  overflow-x: hidden;
  .items-been {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    .been {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      text-align: center;
      font-size: 30px;
      color: #f9727fed;
    }
  }
}

.card-wrapper {
  max-width: 100%;
}
